<div class="gn-related-resources"
		 data-ng-show="relations.length > 0">
    <div class="row">
        <h2 class="col-xs-7">{{title}}</h2> 
        <button class="btn btn-default col-xs-4 col-xs-push-1 d-align-h2"
                onclick="window.open('https://publicwiki.deltares.nl/display/DDP/Retrieving+data%3A+download+and+links','_blank')">
                Help with Downloading
        </button>
    </div>
	<div class="row list-group-item gn-related-item"
				data-ng-repeat="r in relations track by $index"
				data-ng-init="mainType = config.getType(r);type = r['@type'];"
				data-ng-if="r['@type'] !== 'thumbnail'">

		<div class="col-xs-1 visible-lg-*" data-ng-if="mainType === 'LINKDOWNLOAD'">
			<strong>
				<i class="fa fa-2x"
					 data-ng-class="config.getClassIcon(mainType)"/>&nbsp;
			</strong>
		</div>
        <div class="col-xs-1 visible-lg-*" data-ng-if="mainType !== 'LINKDOWNLOAD'">
			<strong>
				<i class="fa fa-2x"
					 data-ng-class="config.getClassIcon('LINK')"/>&nbsp;
			</strong>
		</div>
		<div class="col-xs-7">
			<!-- WMS & WFS contains layer name in title -->
			<h4 data-ng-if="mainType !== 'WMS' &&
											mainType !== 'LINKDOWNLOAD' &&
											mainType !== 'LINK' &&
											r.protocol !== 'OGC:WFS' ">
				{{getTitle(r)}}
			</h4>
			<!-- Display description if available -->
			<h4 data-ng-if="(mainType === 'WMS' ||
											 mainType.indexOf('LINK') === 0 ||
											 r.protocol === 'OGC:WFS') &&
											 r['abstract'] && r['abstract'].length > 0">
        {{(r['abstract'] || r.defaultAbstract) | striptags | characters:150}} 
			</h4>

			<p class="text-muted"
				 data-ng-if="mainType.indexOf('MD') == 0">
        {{(r['abstract'] || r.defaultAbstract) | striptags | characters:150}}
			</p>
			<p class="text-muted">
                {{r.url}}
			</p>
		</div>
		<div class="col-xs-4" style="float:right;">
			<button type="button"
							class="btn btn-default btn-lg btn-block"
							data-ng-click="config.doAction('LINK', r)">

				<span class="visible-lg-*" data-ng-if="mainType === 'LINKDOWNLOAD'">
					{{(config.getLabel('LINKDOWNLOAD') + type) | translate}}
				</span>
                <span class="visible-lg-*" data-ng-if="mainType !== 'LINKDOWNLOAD'">
					{{(config.getLabel('LINK') + type) | translate}}
				</span>
			</button>
		</div>
	</div>
</div>