<div class="gn-related-resources"
		 data-ng-show="relations.length > 0">
    <div class="row">
        <h2 class="col-xs-7">{{title}}</h2> 
        <button class="btn btn-default col-xs-4 col-xs-push-1 d-align-h2"
                onclick="window.open('https://publicwiki.deltares.nl/display/DDP/Retrieving+data%3A+download+and+links','_blank')">
                Help with Download
        </button>
    </div>
	<div class="row list-group-item gn-related-item"
				data-ng-repeat="r in relations track by $index"
				data-ng-init="mainType = config.getType(r);type = r['@type'];"
				data-ng-if="r['@type'] !== 'thumbnail'"
                href="{{r.url}}"
                onclick="if (angular.element($(this)).scope().mainType == 'FILE')
                         {
                            window.prompt('Copy to clipboard: Ctrl+C, Enter', this.getAttribute('href'));
                            return false;
                         }
                        else
                        {
                            window.open(this.getAttribute('href'),'_blank');
                            return false;
                        }"
                title="{{(config.getLabel(mainType) + type) | translate}}">

		<div class=" visible-lg-*" data-ng-if="mainType === 'LINKDOWNLOAD'">
				<i class="fa fa-2x"
					 data-ng-class="config.getClassIcon(mainType)"/>
		</div>
        <div class=" visible-lg-*" data-ng-if="mainType === 'FILE'">
				<i class="fa fa-2x"
					 data-ng-class="config.getClassIcon('MD')"/>
		</div>
        <div class=" visible-lg-*" data-ng-if="mainType !== 'LINKDOWNLOAD' && mainType !== 'FILE'">
				<i class="fa fa-2x"
					 data-ng-class="config.getClassIcon('LINK')"/>
		</div>
        <div class='delta_download_title' >
			<!-- WMS & WFS contains layer name in title -->
			<h4 data-ng-if="mainType !== 'WMS' &&
											mainType !== 'LINKDOWNLOAD' &&
											mainType !== 'LINK' &&
											r.protocol !== 'OGC:WFS' ">
				{{getTitle(r)}}
			</h4>
			<!-- Display description if available -->
			<h4 data-ng-if="(mainType === 'WMS' ||
											 mainType.indexOf('LINK') === 0 ||
											 r.protocol === 'OGC:WFS') &&
											 r['abstract'] && r['abstract'].length > 0">
        {{(r['abstract'] || r.defaultAbstract) | striptags | characters:150}} 
			</h4>

			<p class="text-muted"
				 data-ng-if="mainType.indexOf('MD') == 0">
        {{(r['abstract'] || r.defaultAbstract) | striptags | characters:150}}
			</p>
			<p class="text-muted">
                {{r.url}}
			</p>
		</div>
		<!-- div style="float:right;">
			<button type="button"
							class="btn btn-default btn-lg btn-block"
                            href="{{r.url}}"
							onclick="window.open(this.getAttribute('href'),'_blank'); return false;">

				<span class="visible-lg-*" data-ng-if="mainType === 'LINKDOWNLOAD'">
					{{(config.getLabel('LINKDOWNLOAD') + type) | translate}}
				</span>
                <span class="visible-lg-*" data-ng-if="mainType !== 'LINKDOWNLOAD'">
					{{(config.getLabel('LINK') + type) | translate}}
				</span>
			</button>
		</div -->
	</div>
</div>