<div class="row" style="margin-bottom:20px;">


<div class="col-md-6">
    
<form class="form-horizontal"
      role="form">
    <!--ANY full text search input-->
  <div class="row gn-top-search">
        <div class="row">
        <h3 class='d-search_title' data-translate="" style="color:white">what</h3>
        <span class='d-search_subtitle'>Give one or more search terms (such as 'rijkswaterstaat', 'grondwater' or 'dem')</span>
        <div class="col-md-12 relative">
		   <div class="input-group gn-form-any">

            <input type="text"
                   class="form-control input-lg d_search-input"
                   id="gn-any-field"
                   data-ng-model="searchObj.params.any"
                   placeholder="{{'anyPlaceHolder' | translate}}"
                   data-ng-keyup="$event.keyCode == 13 && triggerSearch()"
                   data-typeahead="address for address in getAnySuggestions($viewValue)"
                   data-typeahead-loading="anyLoading" class="form-control"
                   data-typeahead-min-length="1"
                   data-typeahead-focus-first="false">

            <!--div class="input-group-btn">
              <button type="button"
                      data-ng-click="triggerSearch()"
                      class="btn btn-primary btn-lg">
                &nbsp;&nbsp;
                <i class="fa fa-search"></i>
                &nbsp;&nbsp;
              </button>

              <button type="button"
                      data-ng-click="resetSearch();"
                      title="{{'ClearTitle' | translate}}"
                      class="btn btn-lg">
                <i class="fa fa-times"></i>
              </button>
            </div -->
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    <div class="row">   
      <h3 class='d-search_title' data-translate="" style="color:white">when</h3>
        <span class='d-search_subtitle'>Select the time (period) for which the dataset provides information</span>
        <div class="col-md-12">
              
              <div data-gn-period-chooser="recordsCreatedTheLast"
                   data-date-from="searchObj.params.dateFrom"
                   data-date-to="searchObj.params.dateTo">
              </div>
            </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12 d_searchbtns">
              <button type="button"
                      data-ng-click="triggerSearch()"
                      class="btn btn-lg d_primary_btn">
                &nbsp;&nbsp;
                <!--i class="fa fa-search"></i -->
                  Search
                &nbsp;&nbsp;
              </button>

              <button type="button"
                      data-ng-click="resetSearch();"
                      title="{{'ClearTitle' | translate}}"
                      class="btn d_secondary_btn btn-lg">
                        Clear
                <!--i class="fa fa-times"></i-->
              </button>
              <button type="button"
                      onclick="window.open('https://publicwiki.deltares.nl/display/DDP/Find+data','_blank')"
                      title="Help"
                      class="btn d_secondary_btn btn-lg">
                        ?
                <!--i class="fa fa-times"></i-->
              </button>
            </div>
    </div>
</form>
</div>
    
<div class="col-md-6">
    <h3 class='d-search_title' data-translate="" style="color:white">where</h3>
    <span class='d-search_subtitle'>Select an area overlapping with the geographical extent of the dataset</span>
    <div data-where-search-relation-combo=""
         data-params="searchObj.params"
         data-gn-relation-values="searchObj.relationValues"

    ></div>
    <div class="search-map-cont" gn-map-field="searchObj.searchMap" gn-map-field-geom="searchObj.params.geometry" gn-map-field-opt="mapfieldOpt"></div>
</div>

</div>